<div id="<%= dom_id group %>" class="category-unit">
    <div class="category-details">
      <img src=<%= group.icon %>" alt="<%= group.name %>" />
      <%= link_to group.name, group_conversions_path(group), class: 'category-name' %>
    </div>
    <p class="total-price">$200</p>
</div>
