<div id="groups">
  <div class="navbar">
    <%= link_to "🢀", :back, class: 'back-link'%>
    <p class='nav-text'>Category</p>
  </div>
  <% @groups.each do |group| %>
    <%= render group %>
    <p>
      <%= link_to "Show this group", group %>
    </p>
  <% end %>
<div class="add-btn-container">
<%= button_to "Add a new category", new_group_path, class: 'add-btn', method: :get %>
</div>
</div>