<div class="spalsh">
  <img class="splash-img" src="splash.png"/>
  <div class="spalsh-btns">
  <%= button_to "LOG IN", new_session_path(@user), method: :get %>
  <%= button_to "SIGN UP", new_registration_path(@user), method: :get %>
</div>